<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">TestWork</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expended="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees">Сотрудники</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>
<div id="headerwrap">
<div class="container">
<div class="row centered">
<div class="col-lg-8 col-lg-offset-2">
<h1>Достижения наших сотрудников</h1>
<br><br>
<h2>Старайтесь лучше и вы тоже попадёте на страницу почёта!</h2>
</div>
</div>
</div>
</div>
<br>
<div class="container w">
  <div class="row centered">
<br><br>
<div class="col-lg-4">
    <h4>Больше заказов</h4>
    <p>Побейте рекорд по выполненным заказам!</p>
</div>
<div class="col-lg-4">
    <h4>Больше задач</h4>
    <p>Побейте рекорд по выполненным задачам!</p>
</div>
<div class="col-lg-4">
    <h4>Больше клиентов</h4>
    <p>Побейте рекорд по привлеченным клиентам!</p>
</div>
  </div>
  <br><br>
</div>
<section>
  <div class="container">
<div class="row align-items-center">
<div class="col-7">
<h2>Сотрудник месяца за июнь:</h2>
<h1>Антон Кузнецов Васильевич</h1>
<h2>Сделал 120 задач за данный месяц!</h2>
</div>
<div class="col-4">
<img class="w-100" src="https://img.freepik.com/premium-photo/business-concept-portrait-handsome-business-man-holding-hand-with-confident-face-white-background-copy-space_1258-381.jpg" alt="human">
</div>
</div>
</div>
</section>
<section>
  <div class="container">
   <h2>Достойные упоминания:</h2>
   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row justify-content-between">
          <div class="col">
            <div class="card" style="width: 16rem;">
              <img class="card-img-top" src="https://img.freepik.com/premium-photo/successful-businessman-well-groomed-business-man-white-background-man-formal-style-outfit-business-dress-code-business-coaching-and-consulting-services-personal-growth-and-self-development_474717-8072.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Антон Михайдлвич</h5>
                <p class="card-text">Проспал на рабочем месте 60 часов.</p>
                <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 16rem;">
              <img class="card-img-top" src="https://img.myloview.ru/posters/business-man-thinking-over-white-background-700-23019522.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Кирилл Алексеевич</h5>
                <p class="card-text">Поднял сервер, который упал год назад.</p>
                <a href="#" class="btn btn-primary">Перейти на страницу сотрудника</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 16rem;">
              <img class="card-img-top" src="https://img.freepik.com/premium-photo/successful-businessman-well-groomed-business-man-white-background-man-formal-style-outfit-business-dress-code-business-coaching-and-consulting-services-personal-growth-and-self-development_474717-8072.jpg"  alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Петр Николевич</h5>
                <p class="card-text">Поймал все существующие exeption</p>
                <a href="#" class="btn btn-primary">Перейти на страницу сотрудника</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следующий</span>
    </a>
  </div>
  </div>
  </section>
</body>